@import 'style.css';

body {
  max-width: unset;
}
header {
  display: none;
}
main, footer {
  width: 100%;
  padding: 0;
  max-width: unset;
}
main {
  min-height: 0;
}
a:after {
  content: " (" attr(href) ")";
}