body {
    font-family: 'Inter', sans-serif !important;
    position: relative;
    min-height: 100vh;
}

::selection {
    //background-color: #9db4c0aa;
    background-color: #ffff0077;
    //background-color: lightgreen;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1 {
    font-weight: 900 !important;
    font-size: 50px !important;
    color: black;
}

nav {
    background-color: #ffffffbb;
    backdrop-filter: blur(10px);
}

.navbar-brand img {
    height: 18px;
}

.navbar-toggler {
    border: 0px !important;
    outline: none !important;
}

main {
    padding-top: 10vh;
    padding-bottom: 5vh;
    min-height: 75vh;
}

#hero {
    img {
        max-height: 400px;
    }

    h1 {
        padding-top: 60px;
    }

    button {
        border-radius: 8px;
    }
}

h2 {
    color: black;
    font-size: 24px;
    font-weight: 800 !important;
    padding-bottom: 15px;
}

p {
    text-align: justify;
    color: rgb(66, 66, 66);
}

article {
    h2{
        padding-top: 30px;
    }
}

.img-link {
    overflow: hidden;
    max-height: 600px;
    border-radius: 10px;
    img {
        transition: transform 0.5s, filter 0.5s ease-in-out;
        transform-origin: center center;
        filter: brightness(50%);
    }
}

.img-link:hover {
    img {
        filter: brightness(90%);
        transform: scale(1.02);
    }
}

footer {
    background-color: #253237;
    color: #9db4c0;
    font-size: 14px;
    li {
        padding-top: 5px;
        a {
            text-decoration: none;
            color: #c2dfe3;
            font-size: 16px;
            transition: 0.04s;
        }

        a:hover {
            color: #9db4c0;
            transition: 0.04s;
        }
    }

    img {
        max-width: 20%;
    }
}

video {
    width: 100%;
    outline: none;
}

// form
textarea {
    //resize: none !important;
    min-height: 12em !important;
}