@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: 'Inter', sans-serif !important;
  position: relative;
  background-image: url("../media/background.png");
  background-repeat: repeat;
  background-size: cover;
}

::selection {
  background-color: #ffbb0077;
}

h1 {
  font-weight: 900 !important;
  font-size: 270% !important;
  color: black;
}

nav {
  background-color: #253237cc;
  backdrop-filter: blur(10px);
}

.navbar-brand img {
  height: 18px;
}

.navbar-toggler {
  border: 0px !important;
  box-shadow: none !important;
}

main {
  padding-top: 12vh;
  padding-bottom: 5vh;
  min-height: 75vh;
}

#hero img {
  max-height: 400px;
}

#hero h1 {
  padding-top: 20%;
}

#hero button {
  border-radius: 8px;
}

h2 {
  color: black;
  font-weight: 800 !important;
  padding-bottom: 15px;
}

p {
  text-align: justify;
  color: #424242;
}

article h2 {
  padding-top: 30px;
}

.img-link {
  overflow: hidden;
  max-height: 40em;
  border-radius: 10px;
}

.img-link img {
  width: 100%;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}

.img-link:hover img {
  filter: brightness(90%);
  transform: scale(1.02);
}

footer {
  background-color: #253237;
  color: #9db4c0;
  font-size: 100%;
}

footer li {
  padding-top: 5px;
}

footer li a {
  text-decoration: none;
  color: #c2dfe3;
  font-size: 105%;
  transition: 0.04s;
}

footer li a:hover {
  color: #9db4c0;
  transition: 0.04s;
}

footer li a:visited {
  color: #D4B0FF;
}

footer img {
  max-width: 20%;
}

video {
  width: 100%;
  outline: none;
}

textarea {
  resize: none !important;
  min-height: 11em !important;
}